---
// Component Imports
import Projects from "../components/Projects.astro";

// Component Script:
let title = 'Henry Jenkins';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/global.css";
		@import "../styles/home.css";
	</style>

	<!-- <style></style> -->
</head>
<body>
	<main>
		<Projects />
	</main>
</body>
</html>
