---
import { asHTML, asText } from "@prismicio/helpers";
import { client } from "../prismic.js";

import { Projects } from "./Projects.jsx";

const home = await client.getSingle("home");
const projects = await client.getAllByType("project");
---

<main>
  <header>
    <h1>{asText(home?.data.title)}</h1>
  </header>
  <article class="about">
    sadf
    {asHTML(home?.data.about)}
  </article>
  <Projects client:idle {projects} />
  <aside id="viewer-root"></aside>
</main>

<style lang="scss">
  main {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 2fr 1.5fr;
    align-items: start;
  }

  header,
  .about {
    grid-column-start: span 2;
  }
</style>
