---
import About from "./About.astro";
import Projects from "./Projects.astro";
---

<main>
  <About />
  <Projects />
</main>

<style lang="scss">
  main {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 2fr 1.5fr;
    align-items: start;
  }
</style>
