---
import { asHTML, asText } from "@prismicio/helpers";
import { client } from "../prismic.js";

import { Projects } from "./Projects.jsx";
import { Viewer } from "./Viewer.jsx";

const home = await client.getSingle("home");
const projects = await client.getAllByType("project");
---

<main>
  <header>
    <h1>{asText(home?.data.title)}</h1>
  </header>
  <article id="about">
    {asHTML(home?.data.about)}
  </article>
  <article>
    <Projects client:idle {projects} />
  </article>
  <aside id="viewer">
    <!-- Don't ssr Viewer component for now  -->
    <!-- <Viewer {...projects[0].data} /> -->
  </aside>
</main>

<style lang="scss">
  main {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 2fr 1.5fr;
    align-items: start;
  }

  header,
  #about {
    grid-column-start: span 2;
  }
</style>
